.dispose-cards{
    width: 21.33vw;
    margin: 0 1vw 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    background: #fff;   
    border-radius: .3vw;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 21.33vw;
    /* Calc to maintain aspect ratio between width and height*/
    height: calc( 21.33vw - 21.33vw * 0.3436 );

    box-shadow: 0 1vh 15px hsl(229, 6%, 66%, .5);
}

.card-title{
    font-family: "Poppins bold";
    font-size: .6vw;
    color: var(--darklueBlue);
}
.card-title h1{ margin: 1vh 0 1vh 0;}

.card-desc{
    font-family: "Poppins light";
    font-size: .8vw;
    color: var(--darklueBlue);
}
.card-desc p{ margin: 0;}

.card-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 12vh;
}

.card-img-footer{
    width: 23%;
}

.card-content{
    width: 80%;
    height: 90%;

    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.card.red-card{ border-top: solid var( --cred ) .5vh; }
.card.cyan-card{ border-top: solid var( --ccyan ) .5vh; }
.card.orange-card{ border-top: solid var( --corange ) .5vh; }
.card.blue-card{ border-top: solid var( --cblue ) .5vh; }