@use 'sass:list';

$DTDuration: 475ms;
$DTTiming: ease-out;

@mixin transition-pile( $transition-properties... ){
  $join-properties: null;
  
  @each $property in $transition-properties {
    $join-properties: append($join-properties, $DTDuration $DTTiming $property, comma);
  }
  
  transition: $join-properties;
}

@mixin default-transition( ){
  @include transition-pile( background, color );
}

@mixin cover-default-transition( $properties... ){
  @include transition-pile( background, color, $properties... );
}

@function hslc( $color, $alpha: 100% ){
  @return hsl( $color / $alpha );
}

$nt1: 220 98% 61%;
$nt2: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

@mixin color-scheme($theme){
  @if( $theme == dark ){
    --c1: 235 21% 11%;
    --c2: 235 24% 19%;
    --c3: 234 39% 85%;
    --c4: 234 11% 52%;
    --c5: 237 14% 26%;
  }
  @else if ( $theme == light ){
    --c1: 0 0% 98%;
    --c2: 0 0% 98%;
    --c3: 235 19% 35%;
    --c4: 236 9% 61%;
    --c5: 236 33% 92%;
  }
}

@mixin box($direction: row, $wrap: nowrap, $acontent: normal, $jcontent: normal, $items: normal){
  display: flex;
  
  @if ($direction != normal ){ flex-direction: $direction; }
  @if ($wrap != normal ){ flex-wrap: $wrap; }
  @if ($acontent != normal ){ align-content: $acontent; }
  @if ($jcontent != normal ){ justify-content: $jcontent; }
  @if ($items != normal ){ align-items: $items; }
  
}

:root {
  // --c5: 236 33% 92%;
  --c6: 233 14% 35%;
  // --c7: 237 14% 26%;
  --c8: 233 11% 84%;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  appearance: none;
  width: 28px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-image: url('./images/icon-check.svg'), $nt2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px, auto;
  // border: solid 1px hslc(var(--c2));

  @include box( normal, normal, normal, center, center );
  
  &::before {
    content: '';
    width: 28px;
    aspect-ratio: 1 / 1;
    background: hslc(var(--c2));
    border: solid 1px hslc(var(--c5));
    border-radius: 50%;
    opacity: 1;
    transform: scale(1);

    @include cover-default-transition(transform, opacity, border);
  }

  &.checkable {
    cursor: pointer;

    &:hover::before {
      transform: scale(.9);
      border: solid 0px transparent;
    }

    &:checked::before {
      transform: scale(0);
      opacity: 0;
    }
  }
}

input[type="radio"] {
  appearance: none;
  cursor: pointer;
  
  &::before {
    font-size: 16px;
    font-weight: 500;
    color: hslc(var(--c6));
  }

  &:hover::before{ color: hslc(var(--c3)); }

  &[value="all"]::before { content: 'All'; }
  &[value="completed"]::before { content: 'Completed'; }
  &[value="active"]::before { content: 'Active'; }
  
  &:checked::before { color: hsl($nt1); }
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

* { font-family: "Josefin Sans"; user-select: none; }

::-webkit-scrollbar {
  width: 12px;

  &-track { background: transparent; }
  &-thumb { background: hsl($nt1); border-radius: 5px; }
}

@media (prefers-color-scheme: dark) { 
  :root{ @include color-scheme(dark); }
  .light{ opacity: 0; }
  .dark{ opacity: 1; }
}
[data-theme="dark"] { 
  @include color-scheme(dark);
  .light{ opacity: 0; }
  .dark{ opacity: 1; }
}

@media (prefers-color-scheme: light) { 
  :root{ @include color-scheme(light); } 
  .light{ opacity: 1; }
  .dark{ opacity: 0; }
}
[data-theme="light"] { 
  @include color-scheme(light);
  .light{ opacity: 1; }
  .dark{ opacity: 0; }
}